[Unit]
Description=CECLAW CoreDNS Patch
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c 'until docker ps | grep openshell/cluster; do sleep 2; done'
ExecStart=/bin/bash /home/zoe_ai/nemoclaw-config/restore-coredns.sh
RemainAfterExit=yes
User=zoe_ai

[Install]
WantedBy=multi-user.target
